<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopController</servlet-name>
        <servlet-class>Controller.ShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController2</servlet-name>
        <servlet-class>Controller.RegisterController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewTypeProController</servlet-name>
        <servlet-class>Controller.InsertNewTypeProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertOldTypeProController</servlet-name>
        <servlet-class>Controller.InsertOldTypeProController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagerController</servlet-name>
        <servlet-class>Controller.ProductManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>Controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>Controller.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImages</servlet-name>
        <servlet-class>Controller.UploadImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>Controller.Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fogot</servlet-name>
        <servlet-class>Controller.Fogot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot1</servlet-name>
        <servlet-class>Controller.Forgot1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSmart</servlet-name>
        <servlet-class>Controller.SearchSmart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.vnpay.common.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compare</servlet-name>
        <servlet-class>Controller.Compare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadOrder</servlet-name>
        <servlet-class>Controller.UploadOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopController</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController2</servlet-name>
        <url-pattern>/register2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewTypeProController</servlet-name>
        <url-pattern>/insertnew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertOldTypeProController</servlet-name>
        <url-pattern>/insertold</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagerController</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/listproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImages</servlet-name>
        <url-pattern>/uploading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fogot</servlet-name>
        <url-pattern>/fogot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot1</servlet-name>
        <url-pattern>/forgot1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSmart</servlet-name>
        <url-pattern>/searchsmart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compare</servlet-name>
        <url-pattern>/compare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadOrder</servlet-name>
        <url-pattern>/uploadorder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <!--    <dependency>
        <groupId>com.facebook.business.sdk</groupId>
        <artifactId>facebook-java-business-sdk</artifactId>
        <version>[8.0.3,)</version>
    </dependency>-->
    <!--    <dependency>
        <groupId>com.facebook.business.sdk</groupId>
        <artifactId>facebook-java-business-sdk</artifactId>
        <version>[8.0.3,)</version>
    </dependency>-->
</web-app>
