.dropbtn {
    background-color:#2980b9;
    color: white;
    padding: 13px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px;
  
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    /* text-align: right; */
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #211b5f;
  }